@import 'ngx-toastr/toastr';

:root {
  --color-primary-dark: #1A1A1A;
  --color-primary: #FF6900;
  --color-accent: #FF8533;
  --color-highlight: #FFFFFF;
  --color-text: #FFFFFF;
  --color-background: #FFFFFF;
  --color-border: #333333;
}
