version: '3.9'

services:
  frontend:
    image: 192.168.1.222:5000/central-hub-frontend:2.0.0
    container_name: frontend
    ports:
      - "4200:80"
    networks:
      - central-application
    depends_on:
      - backend
    environment:
      - BASIC_TOKEN=${BASIC_TOKEN}
    volumes:
      - ../../src/frontend/buildfiles/conf/default.conf:/etc/nginx/conf.d/default.conf

  backend:
    image: 192.168.1.222:5000/central-hub-backend:2.0.0
    container_name: backend
    ports:
      - "8080:8080"
    networks:
      - central-application
    environment:
      - DB_USER_NAME=${DB_USER_NAME}
      - DB_USER_PASSWORD=${DB_USER_PASSWORD}
      - USER_ID=${USER_ID}
      - DATABASE_URL=${DATABASE_URL}
      - BASIC_TOKEN=${BASIC_TOKEN}
      - NTFY_URL=${NTFY_URL}
      - NTFY_TOPIC=${NTFY_TOPIC}
      - NTFY_USER=${NTFY_USER}
      - NTFY_PASSWORD=${NTFY_PASSWORD}

volumes:
  db_data:

networks:
  central-application:
    driver: bridge
