:host {
    mat-expansion-panel {
        background-color: var(--mat-sys-secondary-container);
    }

    .stats-table {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        color: #ffffff;
        text-align: center;
        flex-wrap: wrap;
    }

    .stat {
        background: var(--mat-sys-secondary-fixed-dim);
        padding: 20px;
        border-radius: 12px;
        transition: transform 0.3s ease, background 0.3s ease;
        height: 180px;
        width: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: black;

        &:hover {
            transform: scale(1.05);
            color: black;
        }


        h3 {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
        }

        p {
            font-size: 2rem;
            font-weight: bold;
        }

    }
}
