<div class="example-container mat-elevation-z8">
    @if (isLoadingResults()) {
        <div class="example-loading-shade">
            <mat-spinner></mat-spinner>
        </div>
    }

    <div class="example-table-container">

        <div class="search-input-area">
            <mat-form-field>
                <mat-label>{{ 'table.search.placeholder' | translate }}</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input/>
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection().hasValue() && isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection().toggle(row) : null" [checked]="selection().isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef> {{ "table.column.name" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <ng-container matColumnDef="ProductId">
                <th mat-header-cell *matHeaderCellDef> {{ "table.column.product.id" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.productId}} </td>
            </ng-container>

            <ng-container matColumnDef="BarCode">
                <th mat-header-cell *matHeaderCellDef> {{ "table.column.bar.code" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.barCode}} </td>
            </ng-container>

            <ng-container matColumnDef="Code">
                <th mat-header-cell *matHeaderCellDef> {{ "table.column.code" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.code}} </td>
            </ng-container>

            <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef> {{ "table.column.description" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="InsertDate">
                <th mat-header-cell *matHeaderCellDef> {{ "table.column.insert.date" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>

            <ng-container matColumnDef="ExpiryDate">
                <th mat-header-cell *matHeaderCellDef> {{ "table.column.expiry.date" | translate }} </th>
                <td mat-cell *matCellDef="let element"> {{element.expiryDate}} </td>
            </ng-container>

            <ng-container matColumnDef="daysLeft">
                <th mat-header-cell *matHeaderCellDef mat-sort-header="ExpiryDate"> {{ "table.column.days.left" | translate }} </th>
                <td
                    mat-cell
                    *matCellDef="let element"
                    [ngClass]="{ 'expired': element.daysLeft < 0, 'warning': element.daysLeft >= 0 && element.daysLeft < 60}"
                > {{element.daysLeft}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="products-row" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editProduct(row)"></tr>

            <tr mat-row *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                    {{ "table.no.data" | translate }}
                </td>
            </tr>
        </table>
    </div>
</div>
