.portal-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full height */
}

.portal-body {
    flex-grow: 1;             /* pushes footer down */
    display: block;
    min-height: 0;
    overflow: visible;        /* allow MF height to expand */
}
